"$schema" = "https://pixi.sh/v0.64.0/schema/manifest/schema.json"
# meta #########################################################################
[workspace]
channels = ["conda-forge"]
name = "cf-osx-arm64-check"
platforms = ["linux-64", "osx-arm64"]
requires-pixi = ">=0.64.0"

# envs #########################################################################
[environments]
lint = ["lint"]
test-jsonschema-rs-max = ["jsonschema-rs", "pytest", "py-max"]
test-jsonschema-rs-min = ["jsonschema-rs", "pytest", "py-min"]
test-jsonschema-rs-t = ["jsonschema-rs", "pytest", "py-t"]
test-nh3-max = ["nh3", "pytest", "py-max"]
test-nh3-min = ["nh3", "pytest", "py-min"]
test-nh3-t = ["nh3", "pytest", "py-t"]
test-pyoxigraph-max = ["pyoxigraph", "pytest", "py-max"]
test-pyoxigraph-min = ["pyoxigraph", "pytest", "py-min"]
test-pyoxigraph-t = ["pyoxigraph", "pytest", "py-t"]
test-pyrudof-max = ["pyrudof", "pytest", "py-max"]
test-pyrudof-min = ["pyrudof", "pytest", "py-min"]
# test-pyrudof-t = ["pyrudof", "pytest", "py-t"]

# tasks ########################################################################
[tasks]
all.depends-on = ["lint", "test"]
lint.depends-on = ["taplo", "prettier", "actionlint"]

# tests
test.depends-on = [
  "test-pyoxigraph-min",
  "test-pyoxigraph-max",
  "test-pyoxigraph-t",
  "test-nh3-min",
  "test-nh3-max",
  "test-nh3-t",
  "test-pyrudof-min",
  "test-pyrudof-max",
  # "test-pyrudof-t",
  "test-jsonschema-rs-min",
  "test-jsonschema-rs-max",
  "test-jsonschema-rs-t",
]
test-nh3-max = {depends-on = [{task = "_test", args = ["nh3", "max"]}]}
test-nh3-min = {depends-on = [{task = "_test", args = ["nh3", "min"]}]}
test-nh3-t = {depends-on = [{task = "_test", args = ["nh3", "t"]}]}

test-pyoxigraph-max = {depends-on = [{task = "_test", args = ["pyoxigraph", "max"]}]}
test-pyoxigraph-min = {depends-on = [{task = "_test", args = ["pyoxigraph", "min"]}]}
test-pyoxigraph-t = {depends-on = [{task = "_test", args = ["pyoxigraph", "t"]}]}

test-pyrudof-max = {depends-on = [{task = "_test", args = ["pyrudof", "max"]}]}
test-pyrudof-min = {depends-on = [{task = "_test", args = ["pyrudof", "min"]}]}
test-pyrudof-t = {depends-on = [{task = "_test", args = ["pyrudof", "t"]}]}

test-jsonschema-rs-max = {depends-on = [{task = "_test", args = ["jsonschema-rs", "max"]}]}
test-jsonschema-rs-min = {depends-on = [{task = "_test", args = ["jsonschema-rs", "min"]}]}
test-jsonschema-rs-t = {depends-on = [{task = "_test", args = ["jsonschema-rs", "t"]}]}

# templates ####################################################################
[tasks._test]
args = ["pkg", "era"]
depends-on = [
  {task = "_smoke", args = [
    "{{ pkg }}",
    "{{ era }}",
  ]},
  {task = "_pytest", args = [
    "{{ pkg }}",
    "{{ era }}",
  ]},
]

[tasks._pytest]
args = ["pkg", "era"]
cmd = """
  {% set env = ["test", pkg, era] | join("-") %}
  {% set k = '-k "not readme"' if pkg in ["jsonschema-rs"] %}
  export TEST_PATH=$PIXI_PROJECT_ROOT/build/reports/{{ pkg }}/{{ era }}/
  && rm -rf $TEST_PATH
  && mkdir -p $TEST_PATH
  && cd $TEST_PATH
  && pixi run --environment {{ env }}
    pytest
      -vv
      -o cache_dir=$PIXI_PROJECT_ROOT/build/.cache/.pytest_cache_{{ pkg }}
      --tb=long
      --color=yes
      --html=$TEST_PATH/pytest.html
      --self-contained-html
      {%- if pkg == "jsonschema-rs" %}
      -k "not readme"
      {%- endif %}
      $PIXI_PROJECT_ROOT/.pixi/envs/{{ env }}/etc/conda/test-files/{{ pkg }}/*
"""
outputs = ["build/reports/{{ pkg }}/{{ era }}/pytest.html"]
[tasks._smoke]
args = ["pkg", "era"]
cmd = '''
  pixi run --environment test-{{ pkg }}-{{ era }}
  python -c "__import__('{{ pkg | replace("-", "_") }}');"'''

# lint #########################################################################
[feature.lint.dependencies]
actionlint-with-shellcheck = "*"
prettier = "*"
taplo = "*"

[feature.lint.tasks.actionlint]
cmd = "actionlint -shellcheck=shellcheck"
inputs = [".github/workflows"]

[feature.lint.tasks.taplo]
cmd = """taplo format *.toml
  --option=array_auto_collapse=true
  --option=compact_inline_tables=true
  --option=reorder_keys=true
  --option=column_width=100"""
description = "... fix toml files"
inputs = ["*.toml"]

[feature.lint.tasks.prettier]
cmd = """prettier
  --write
  --prose-wrap=always
  --print-width=88
  *.md
  .github/**/*.yml"""
inputs = ["*.md", ".github/**/*.yml"]

# pytest #######################################################################
[feature.pytest.dependencies]
pytest-cov = "*"
pytest-html = "*"

# deps #########################################################################
[feature]
## packages-under-test #########################################################
jsonschema-rs.dependencies = {jsonschema-rs = "*", hypothesis = "*"}
nh3.dependencies.nh3 = "*"
pyoxigraph.dependencies.pyoxigraph = ">=0.5.4"
pyrudof.dependencies.pyrudof = "*"

## pythons #####################################################################
py-max.dependencies.python-gil = "3.14.*"
py-min.dependencies.python = "3.10.*"
py-t.dependencies.python-freethreading = "3.14.*"
