"$schema" = "https://pixi.sh/v0.63.2/schema/manifest/schema.json"

[tasks]
all.depends-on = ["lint", "test"]
all.description = "all tasks"
lint.depends-on = ["taplo", "prettier", "actionlint"]
lint.description = "lint all"
test.depends-on = ["pyoxigraph", "nh3", "pyrudof"]
test.description = "test all"

# templates ####################################################################
_pytest = {args = ["pkg", {arg = "test_path", default = "1/tests"}], cmd = """
  export TEST_PATH=$PIXI_PROJECT_ROOT/build/reports/{{ pkg }}
  && rm -rf $TEST_PATH
  && mkdir -p $TEST_PATH
  && cd $TEST_PATH
  && pytest
    -vv
    -o cache_dir=$PIXI_PROJECT_ROOT/build/.cache/.pytest_cache_{{ pkg }}
    --tb=long
    --color=yes
    --html=$TEST_PATH/pytest.html
    --self-contained-html
    "$CONDA_PREFIX/etc/conda/test-files/{{ pkg }}/{{ test_path }}"
""", outputs = ["build/reports/{{ pkg }}/pytest.html"]}
_smoke = {args = ["mods"], cmd = '''
python -c "{%- for mod in mods | split(" ") %}
__import__('{{ mod }}');{% endfor %}"'''}

# nh3 ##########################################################################
[feature.nh3.dependencies]
nh3 = "*"
[feature.nh3.tasks]
nh3 = {depends-on = ["nh3-smoke", "nh3-pytest"]}
nh3-pytest = {depends-on = [{task = "_pytest", environment = "nh3", args = ["nh3"]}]}
nh3-smoke = {depends-on = [{task = "_smoke", environment = "nh3", args = ["nh3"]}]}

# rudof ########################################################################
[feature.pyrudof.dependencies]
pyrudof = "*"
[feature.pyrudof.tasks]
pyrudof = {depends-on = ["pyrudof-smoke", "pyrudof-pytest"]}
pyrudof-pytest = {depends-on = [
  {task = "_pytest", environment = "pyrudof", args = [
    "pyrudof",
    "1/python/tests",
  ]},
]}
pyrudof-smoke = {depends-on = [{task = "_smoke", environment = "pyrudof", args = ["pyrudof"]}]}

# rudof ########################################################################
[feature.pyoxigraph.dependencies]
pyoxigraph = ">=0.5.4"
[feature.pyoxigraph.tasks]
pyoxigraph = {depends-on = ["pyoxigraph-smoke", "pyoxigraph-pytest"]}
pyoxigraph-pytest = {depends-on = [
  {task = "_pytest", environment = "pyoxigraph", args = [
    "pyoxigraph",
    "1/python/tests",
  ]},
]}
pyoxigraph-smoke = {depends-on = [
  {task = "_smoke", environment = "pyoxigraph", args = [
    "pyoxigraph",
  ]},
]}

# lint #########################################################################
[feature.lint.dependencies]
actionlint-with-shellcheck = "*"
prettier = "*"
taplo = "*"

[feature.lint.tasks.actionlint]
cmd = "actionlint -shellcheck=shellcheck"
inputs = [".github/workflows"]

[feature.lint.tasks.taplo]
cmd = """taplo format *.toml
  --option=array_auto_collapse=true
  --option=compact_inline_tables=true
  --option=reorder_keys=true
  --option=column_width=100"""
description = "... fix toml files"
inputs = ["*.toml"]

[feature.lint.tasks.prettier]
cmd = """prettier
  --write
  --prose-wrap=always
  --print-width=88
  *.md
  .github/**/*.yml"""
inputs = ["*.md", ".github/**/*.yml"]

# pytest #######################################################################
[feature.pytest.dependencies]
pytest-cov = "*"
pytest-html = "*"

# envs #########################################################################
[environments]
lint = ["lint"]
nh3 = ["nh3", "pytest"]
pyoxigraph = ["pyoxigraph", "pytest"]
pyrudof = ["pyrudof", "pytest"]

# meta #########################################################################
[workspace]
channels = ["conda-forge"]
name = "cf-osx-arm64-check"
platforms = ["linux-64", "osx-arm64"]
requires-pixi = ">=0.63.2"
