name: test

on:
  pull_request: { branches: ["*"] }
  push: { branches: [main] }
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: macos-latest
    strategy:
      max-parallel: 3
      fail-fast: false
      matrix:
        lib: [jsonschema-rs, nh3, pyrudof, pyoxigraph]
        era: [min, max, max-ft]
        exclude:
          - { lib: pyrudof, era: max-ft }
    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.9.4
        with:
          pixi-version: v0.64.0
          cache: true
          environments: test-${{ matrix.lib }}-${{ matrix.era }}
      - run: pixi run test-${{ matrix.lib }}-${{ matrix.era }}
      - if: always()
        uses: actions/upload-artifact@v7
        with:
          name: report-${{ github.run_number }}-${{ matrix.lib }}-${{ matrix.era }}
          archoive: false
          path: |
            build/reports
