name: test

on:
  pull_request: { branches: ["*"] }
  push: { branches: [main] }
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: macos-latest
    strategy:
      matrix:
        test-env: [nh3, pyrudof, pyoxigraph]

    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.9.4
        with:
          pixi-version: v0.63.2
          cache: true
          environments: ${{ matrix.test-env }}
      - run: pixi run ${{ matrix.test-env }}
      - if: always()
        uses: actions/upload-artifact@v6
        with:
          name: report-${{ github.run_number }}-${{ matrix.test-env }}
          path: |
            build/reports
